<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style3.css">
    <title>Document</title>
</head>
<body>



<div class="container">
            <div class="box">
                        <a href="https://sciencecalx.com/wp-content/uploads/2023/07/chemistry.png" >
                        <img src="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg" alt="image"></a>
                    <div class="caption">Lorem ipsum </div>
            </div> 
                

                
            <div class="box">
                        <a href="https://orionstardesign.com/wp-content/uploads/2023/08/001.jpg" >
                        <img src="https://orionstardesign.com/wp-content/uploads/2023/08/001.jpg" alt="image"></a>
                    <div class="caption">Lorem ipsum </div>
            </div> 
                
            <div class="box">
                        <a href="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg" >
                        <img src="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg" alt="image"></a>
                    <div class="caption">Lorem ipsum </div>
            </div> 

</div>
     

</body>
                 

</html>